In [3]:
import pandas as pd
import numpy as np
from dateutil import parser

In [13]:
dataf= pd.read_csv(r'C:\Users\jyoth\OneDrive\Documents\sql\marketing_campaign_SQL_data.csv')

In [20]:
missing_values = dataf.isnull().sum()
missing_values = missing_values[missing_values > 0]
print("\nMissing Values:")
print(missing_values)
print('\nDuplicate Rows:', dataf.duplicated().sum())
print("Dataset Shape:", dataf.shape)
display(dataf.head())
dataf.info()
dataf.describe()

Missing Values:
Series([], dtype: int64)

Duplicate Rows: 0
Dataset Shape: (200005, 15)

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Date,Clicks,Impressions,Engagement_Score,Customer_Segment
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,2021-01-01,506,1922,6,Health & Wellness
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,2021-01-02,116,7523,7,Fashionistas
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,2021-01-03,584,7698,1,Outdoor Adventurers
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,2021-01-04,217,1820,7,Health & Wellness
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,2021-01-05,379,4201,3,Health & Wellness

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200005 entries, 0 to 200004
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       200005 non-null  int64
 1   Company           200005 non-null  object
 2   Campaign_Type     200005 non-null  object
 3   Target_Audience   200005 non-null  object
 4   Duration          200005 non-null  object
 5   Channel_Used      200005 non-null  object
 6   Conversion_Rate   200005 non-null  float64
 7   Acquisition_Cost  200005 non-null  object
 8   ROI               200005 non-null  float64
 9   Location          200005 non-null  object
 10  Date              200005 non-null  object
 11  Clicks            200005 non-null  int64
 12  Impressions       200005 non-null  int64
 13  Engagement_Score  200005 non-null  int64
 14  Customer_Segment  200005 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 22.9+ MB

,Campaign_ID,Conversion_Rate,ROI,Clicks,Impressions,Engagement_Score
count,200005.000000,200005.000000,200005.000000,200005.000000,200005.000000,200005.000000
mean,100003.000000,0.080069,5.002416,549.774591,5507.307107,5.494673
std,57736.614632,0.040602,1.734485,260.019354,2596.863794,2.872593
min,1.000000,0.010000,2.000000,100.000000,1000.000000,1.000000
25%,50002.000000,0.050000,3.500000,325.000000,3266.000000,3.000000
50%,100003.000000,0.080000,5.010000,550.000000,5518.000000,5.000000
75%,150004.000000,0.120000,6.510000,775.000000,7753.000000,8.000000
max,200005.000000,0.150000,8.000000,1000.000000,10000.000000,10.000000

In [22]:
dataf.drop_duplicates(inplace=True)
def standardize_date(date_str):
    try:
        parsed_date =  parser.parse(date_str)
        return parsed_date.strftime('%d/%m/%Y')
    except Exception as e:
        return None
dataf['Date'] = dataf['Date'].apply(standardize_date)
dataf['Date'] = pd.to_datetime(dataf['Date'], format='%d/%m/%Y')

dataf['ROI'] = dataf['ROI'].astype(float).round(2)

print("Data cleaning completed successfully!")
dataf.head()

Data cleaning completed successfully!

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Date,Clicks,Impressions,Engagement_Score,Customer_Segment
0,1,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,2021-01-01,506,1922,6,Health & Wellness
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,2021-01-02,116,7523,7,Fashionistas
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,2021-01-03,584,7698,1,Outdoor Adventurers
3,4,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,2021-01-04,217,1820,7,Health & Wellness
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,2021-01-05,379,4201,3,Health & Wellness

In [24]:
dataf.to_csv('marketing_campaign_SQL_data.csv', index=False)
print('saved')

saved